<mat-toolbar>
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>UserAPI</span>
  <span class="spacer"></span>
  <!-- <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button mat-icon-button matTooltip="login" matTooltipPosition="below" (click)="openDialog()">
    <mat-icon>person_outline</mat-icon>
  </button> -->
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Side Navbar</p>
    <p *ngIf="showHiddenText">Surprise Text.</p>
    <button (click)="showHiddenText = !showHiddenText" mat-raised-button>
      Toggle for surprise
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>