<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <h3>Login</h3>
            <div *ngIf="submitted && Error" class="invalid-feedback">
                <h5 class="error" style="color:rgb(192, 84, 84)" [@shake]="showAnimation">Please control your infromations</h5>
            </div>
    
            <label for="username">Email</label>
            <input [(ngModel)]="Email" name="text" class="form-control" />
    
            <label for="password">Password</label>
            <input [(ngModel)]="Password" name="password" class="form-control" />
    
            <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Log In
            </button>
            <p style="margin-top: 20px">Don't you have an account ?
                <a href="/register" style="color:rgb(0, 225, 255)">register</a>
            </p>
        </form>
    </div>
</div>